<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}RockPaperScissorsSpockLizard Probability Game{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <h1>Rock/Paper/Scissors/Spock/Lizard</h1>
    <noscript>This WebApp <i>will not run</i> without JavaScript enabled. Turn off your script blocker.</noscript>
    <p>
        Use the regular number keys to choose.
    </p>
    <ol>
        <li>Rock</li>
        <li>Paper</li>
        <li>Scissors</li>
        <li>Spock</li>
        <li>Lizard</li>
    </ol>
    {% if (playerChoice != '') %}
        <h2>You picked <i>{{ playerChoice }}</i></h2>
        <h2>The computer picked <i>{{ computerChoice }}</i></h2>
        <h2>Result: {{ winner }}</h2>
    {% endif %}
    <span></span>
    <h1>
        Statistics
    </h1>
    <h2>
        Global Summary
    </h2>
    <p>
        {{ winLossTie }}
    </p>
    <h2>
        Detailed Choice History
    </h2>
    <div style="width:400px; display:inline-block;">
        <h3>Human History</h3>
    <ul>
            {% for choice, arr in history.human %}
                <li>{{ arr.choice }}: {{ arr.c }}</li>
            {% endfor %}
    </ul>
    </div>
    <div style="width:400px; display:inline-block;">
        <h3>Computer History</h3>
        <ul>
            {% for choice, arr in history.computer %}
                <li>{{ arr.choice }}: {{ arr.c }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
