<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}RockPaperScisscorsSpockLizard Probability Game{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <noscript>This WebApp <i>will not run</i> without JavaScript enabled.  Turn off your script blocker</noscript>
    <p>
        Use the number keys to choose.
    </p>
    <ol>
        <li>Rock</li>
        <li>Paper</li>
        <li>Scissors</li>
        <li>Spock</li>
        <li>Lizard</li>

    </ol>
    <h1>You picked <i>{{ playerChoice }}</i></h1>
    <h1>The computer picked <i>{{ computerChoice }}</i></h1>
    <h1>Result: {{ winner }}</h1>
    <p>

    </p>
{% endblock %}
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
